/*
* Background Images - Practice
* CSS Styles
*
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: block;
	width: 1296px;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	color: white;
	background-color: black;
	border: 1px solid black;
	margin: 0 auto;
}
header {
	background-image: url("../img/bg-01.jpg");
	background-position: center;
	background-size: cover;
	height: 432px;
	width: 1296;
	margin: 0px;
}

#topbar {
	background-color: rgba(0, 0, 0, 0.6);
}
nav {
	padding-left: 150px;
	word-spacing: 0;
	height: 50px;
	line-height: 50px;


}
ul, li {
	list-style: none;
	display: inline-block;
}
ul li a {
	text-decoration: none;
	list-style: none;
	font-size: 1rem;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid transparent;
	padding: 0px 10px;
	margin: 0px;
}
ul li a:hover {
	background-color: #b81a34;
}

 a {
 	color: white;
 }

 h1 {
 	font-family:  'Metal Mania', cursive; 
 	text-align: center;
 	text-transform: uppercase;
 	margin: 80px auto 60px;
 	font-size: 75px;
 	font-weight: 400;
 }
header .button {
	display: block;
	background: linear-gradient(to right,  #df0306 0%,#fc3166 100%);
	text-decoration: none;	
	text-align: center;
	width: 290px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 auto;
}
header .button:hover {
}
	
/* General */



/* Header */



 #tour {
 	background-color: #383838;
 } 

#tour .container, #gallery .container {
	width: 850px;
	margin: 0 auto;
} 
h2 {
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
 	text-align: center;
 	text-transform: uppercase;
 	font-weight: 400;
 }
.tour-card {
	display: inline-block;
	width: 200px;
	height: 215px;
    text-align: left;
    padding-top: 25px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
}
.tour-card:not(:last-child) {
	margin-right: 12px;
} 
.tour-place {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.tour-date {
	font-style: italic;
	font-size: 14px;
	padding-bottom: 25px;
}

#tour .button {
	display: block;
	text-decoration: none;
	width: 145px;
	height: 35px;
	font-size: 18px;
	background: linear-gradient(to right,  #df0306 0%,#fc3166 100%);
	text-align: center;
	text-transform: uppercase;
	padding: 8px;
	margin: 0 auto;
}

/*#tour .button:hover {
	}*/

.tour-card.madrid {
	display: inline-block;
	background-image: url(../img/tour/madrid.jpg);
	width: 200px;
	height: 215px;
	bbackground-size: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 8px;
	padding-right: 8px;
}
.tour-card h3 {
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
	font-weight: 400;
}
.tour-card.turin {
	display: inline-block;
	background-image: url(../img/tour/turin.jpg);
	width: 200px;
	height: 215px;
	bbackground-size: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 8px;
	padding-right: 8px;
}
.tour-card.hamburg {
	display: inline-block;
	background-image: url(../img/tour/hamburg.jpg);
	width: 200px;
	height: 215px;
	bbackground-size: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 8px;
	padding-right: 8px;
}
.tour-card.krakow {
	display: inline-block;
	background-image: url(../img/tour/krakow.jpg);
	width: 200px;
	height: 215px;
	bbackground-size: no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 8px;
	padding-right: 8px;
}
/* Gallery */

#gallery {
	background-color: #383838;
	padding-bottom: 30px;
}
.photo {
	display: inline-block;
	margin: 0 auto;
	width: 270px;
	height: 270px;
	margin-right: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);

}

#gallery .photo:nth-of-type(3), .photo:nth-of-type(6) {
	margin-right: 0px;
}
img {
	width: 270px;
	height: 270px;
}


/* Subscribe */
#subscribe {
	background-image: url("../img/bg-02.jpg");
	background-position: center;
	background-size: cover;
	height: 290px;
	width: 1296;
}

#subscribe .container {
	background-color: rgba(0, 0, 0, 0.5);
	height: 290px;
	padding-top: 45px;
}

.pitch, .subscribe-form {
	width: 850px;
	text-align: center;
	margin: 0 auto;
}
form {
	padding-top: 20px;
}
input {
	width: 210px;
	border: none;
	font-size: 18px;
	line-height: 40px;
	padding-left: 10px;
}
form button {
	width: 125px;
	font-size: 18px;
	color: white;
	background: linear-gradient(to right,  #df0306 0%,#fc3166 100%);
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	border: none;
}

/* Footer */
footer {
	width: 1296px;
	height: 96px;
	background-color: #212121;

}


footer .container {
	width: 850px;
	margin: 0 auto;
	text-align: center;
}
.social {
	display: inline-block;
	margin: 20px auto;
	word-spacing: 12px;
}
.copyright {
	font-size: 12px;
}
