* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	display: inline-block;
	padding-left: 40px;
	padding-top: 30px;
}

div {
/*	margin-top: 100px;*/
	font-size: 40px;
}

.title:before {
  content: "";
  width: 300px;
  height: 5px;
  background-color: black;
  display: inline-block; 
  margin-bottom: 11px;
  margin-left: 40px;
  border-radius: 10px;
  
}
.title:after {
  content: "";
  width: 300px;
  height: 5px;
  background-color: black;
  display: inline-block; 
  margin-bottom: 11px;
  margin-right: 40px;
  border-radius: 10px;
  
}

.circle {
  margin: 200px;
  height: 120px;
  width: 120px;
  background: blue;
  border-radius: 50%;
  box-shadow: 0 0 0 30px white, 
              0 0 0 60px red;
}



.b-circle {
  width: 120px;
  height: 120px;
  background-color: red;
  margin: 200px;
  position: relative;
  border-radius: 50%;
}

.b-circle-line {
  position: absolute;
  top: -60px;
  left: -60px;
  right: -60px;
  bottom: -60px;
  border: 30px solid blue;
  border-radius: 50%;
}
